
.img-centered {
  margin: 0 auto; }

section {
  padding: 100px 0; }
  section h2 {
    font-size: 3em;
    margin: 0; }

section.success {
  color: white;
  background: #18BC9C; }

@media (max-width: 767px) {
  section {
    padding: 75px 0; }
  section.first {
    padding-top: 75px; } }

.scroll-top {
  position: fixed;
  z-index: 1049;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px; }
  .scroll-top .btn {
    font-size: 16px;
    line-height: 28px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%; }
    .scroll-top .btn:focus {
      outline: none; }

#mainNav {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  background: #3A4142; }
  #mainNav a:focus {
    outline: none; }
  #mainNav .navbar-brand {
    font-size: 1.1rem;
    color: white; }
    #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color: white; }
  #mainNav .navbar-nav {
    letter-spacing: 1px; }
    #mainNav .navbar-nav li.nav-item a.nav-link {
      color: white; }
      #mainNav .navbar-nav li.nav-item a.nav-link:hover {
        color: #5CBC63;
        outline: none; }
      #mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
        color: white; }
  #mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: white;
    border-color: white; }
    #mainNav .navbar-toggler:focus, #mainNav .navbar-toggler:hover {
      color: white;
      border-color: #5CBC63;
      background-color: #5CBC63; }

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s; }
    #mainNav .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s; }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
      color: white;
      border-radius: 3px;
      background: #18BC9C; }
      #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: white;
        background: #18BC9C; }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px; }
    #mainNav.navbar-shrink .navbar-brand {
      font-size: 1.5em; } }

header.masthead {
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  color: white;
  background: #18BC9C; }
  header.masthead img {
    display: block;
    margin: 0 auto 20px; }
  header.masthead .intro-text .name {
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 700;
    display: block;
    text-transform: uppercase; }
  header.masthead .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300; }

@media (min-width: 768px) {
  header.masthead {
    padding-top: 200px;
    padding-bottom: 100px; }
    header.masthead .intro-text .name {
      font-size: 4.75em; }
    header.masthead .intro-text .skills {
      font-size: 1.75em; } }

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
    cursor: pointer; }
    #portfolio .portfolio-item .portfolio-link .caption {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(24, 188, 156, 0.9); }
      #portfolio .portfolio-item .portfolio-link .caption:hover {
        opacity: 1; }
      #portfolio .portfolio-item .portfolio-link .caption .caption-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
        #portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
          margin: 0; }

#portfolio * {
  z-index: 2; }

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; } }

.portfolio-modal .modal-dialog {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .portfolio-modal .modal-dialog .modal-content {
    padding: 100px 0;
    border: 0;
    border-radius: 0; }
    .portfolio-modal .modal-dialog .modal-content h2 {
      font-size: 3em;
      margin: 0; }
    .portfolio-modal .modal-dialog .modal-content img {
      margin-bottom: 30px; }
    .portfolio-modal .modal-dialog .modal-content .item-details {
      margin: 30px 0; }

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent; }
  .portfolio-modal .close-modal:hover {
    opacity: 0.3; }
  .portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50; }
    .portfolio-modal .close-modal .lr .rl {
      /* Safari and Chrome */
      z-index: 1052;
      width: 1px;
      height: 75px;
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      background-color: #2C3E50; }

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0; }

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #eeeeee; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #18BC9C; }

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee; }

footer {
  color: white; }
  footer h3 {
    margin-bottom: 30px; }
  footer .footer-above {
    padding-top: 50px;
    background-color: #2C3E50; }
  footer .footer-col {
    margin-bottom: 50px; }
  footer .footer-below {
    padding: 25px 0;
    background-color: #2c3e50; }

.btn-outline {
  font-size: 20px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  color: white;
  border: solid 2px white;
  background: transparent; }
  .btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    color: #18BC9C;
    border: solid 2px white;
    background: white; }

.btn-primary {
  font-weight: 700;
  color: white;
  border-color: #2C3E50;
  background-color: #2C3E50; }
  .btn-primary.focus, .btn-primary:focus {
    color: white;
    border-color: black;
    background-color: #1a252f; }
  .btn-primary:hover {
    color: white;
    border-color: #161f29;
    background-color: #1a252f; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    color: white;
    border-color: #161f29;
    background-color: #1a252f; }
    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover,
    .open > .btn-primary.dropdown-toggle.focus,
    .open > .btn-primary.dropdown-toggle:focus,
    .open > .btn-primary.dropdown-toggle:hover {
      color: white;
      border-color: black;
      background-color: #0d1318; }
  .btn-primary.active, .btn-primary:active,
  .open > .btn-primary.dropdown-toggle {
    background-image: none; }
  .btn-primary.disabled.focus, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled].focus, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary.focus,
  fieldset[disabled] .btn-primary:focus,
  fieldset[disabled] .btn-primary:hover {
    border-color: #2C3E50;
    background-color: #2C3E50; }
  .btn-primary .badge {
    color: #2C3E50;
    background-color: white; }

.btn-success {
  font-weight: 700;
  color: white;
  border-color: #18BC9C;
  background-color: #18BC9C; }
  .btn-success.focus, .btn-success:focus {
    color: white;
    border-color: #0a4b3e;
    background-color: #128f76; }
  .btn-success:hover {
    color: white;
    border-color: #11866f;
    background-color: #128f76; }
  .btn-success.active, .btn-success:active,
  .open > .btn-success.dropdown-toggle {
    color: white;
    border-color: #11866f;
    background-color: #128f76; }
    .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover,
    .open > .btn-success.dropdown-toggle.focus,
    .open > .btn-success.dropdown-toggle:focus,
    .open > .btn-success.dropdown-toggle:hover {
      color: white;
      border-color: #0a4b3e;
      background-color: #0e6f5c; }
  .btn-success.active, .btn-success:active,
  .open > .btn-success.dropdown-toggle {
    background-image: none; }
  .btn-success.disabled.focus, .btn-success.disabled:focus, .btn-success.disabled:hover, .btn-success[disabled].focus, .btn-success[disabled]:focus, .btn-success[disabled]:hover,
  fieldset[disabled] .btn-success.focus,
  fieldset[disabled] .btn-success:focus,
  fieldset[disabled] .btn-success:hover {
    border-color: #18BC9C;
    background-color: #18BC9C; }
  .btn-success .badge {
    color: #18BC9C;
    background-color: white; }

.btn-social {
  font-size: 20px;
  line-height: 45px;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid white;
  border-radius: 100%; }

.btn.active,
.btn:active,
.btn:focus {
  outline: none; }




  .wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    margin-top: -9%;
    background: #fff;
    opacity: 0.9;
    box-shadow: 0px 3px 15px grey; }
  
  .contenedor-formulario {
  width: 100%;
  color: black;
  padding: 50px;
  margin-top: 10%; }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto; }
    .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px; }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="number"],
      .contenedor-formulario .formulario .input-group input[type="email"],
      .contenedor-formulario .formulario .input-group input[type="password"] {
        font-family: "Roboto";
        font-size: 16px;
        color: #000;/*cor das letras dentro da label*/
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #a6a6a6; /*cor antes de clicar na label*/}
        .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
        .contenedor-formulario .formulario .input-group input[type="email"]:focus,
        .contenedor-formulario .formulario .input-group input[type="email"]:active,
        .contenedor-formulario .formulario .input-group input[type="number"]:focus,
        .contenedor-formulario .formulario .input-group input[type="password"]:focus,
        .contenedor-formulario .formulario .input-group input[type="password"]:active {
          outline: none;
          border-bottom: 2px solid #000;/*cor após clicar na label*/ }
        .contenedor-formulario .formulario .input-group input[type="text"].error,
        .contenedor-formulario .formulario .input-group input[type="number"].error,
        .contenedor-formulario .formulario .input-group input[type="email"].error,
        .contenedor-formulario .formulario .input-group input[type="password"].error {
          border-bottom: 2px solid #D32F2F; /*cor do erro na linha*/}
          .contenedor-formulario .formulario .input-group input[type="text"].error + label,
          .contenedor-formulario .formulario .input-group input[type="number"].error + label,
          .contenedor-formulario .formulario .input-group input[type="email"].error + label,
          .contenedor-formulario .formulario .input-group input[type="password"].error + label {
            color: #D32F2F; /*cor do erro na letra*/}
      .contenedor-formulario .formulario .input-group label {
        color: #000; }
        .contenedor-formulario .formulario .input-group label.label {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 15px;
          font-size: 16px;
          line-height: 16px;
          position: absolute;
          top: 16px;
          left: 0; }

          .contenedor-formulario .formulario .input-group label.label.active {
            top: -12px;
            font-size: 16px;
            line-height: 12px;
            color: #000; }

      .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
        display: inline-block;
        cursor: pointer;
        color: #303F9F;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
          background: #bbdefb; }
        .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 2px solid #303F9F; }
      .contenedor-formulario .formulario .input-group.error label {
        color: red; }
        .contenedor-formulario .formulario .input-group.error label:hover {
          background: rgba(211, 47, 47, 0.2); }
        .contenedor-formulario .formulario .input-group.error label:before {
          border: 2px solid #D32F2F; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
          padding: 5px 15px;
          background: #303F9F;
          border-radius: 2px;
          color: #fff; }
      .contenedor-formulario .formulario .input-group.checkbox label:before {
        border-radius: 3px; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #303F9F;
          color: #f2f2f2;
          padding: 5px 15px; }
    .contenedor-formulario .formulario input[type="submit"] {
      background: #28a745;/*cor do botão*/
      border-radius: 12px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      margin-top: 7%;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contenedor-formulario .formulario input[type="submit"]:hover {
        background: #009900;/*efeito ao passar em cima do botão*/ }

  h2{
    margin-left: 40%;
    position: absolute;
    color: #595959; 
    margin-top: -8px;
                                  
  }

  
  .img-logo img{
    height: 85px;
    width: 100px;
    margin-top: -80px;
    position: absolute;
    margin-left: 10px;
  }


  #upload-photo {
     opacity: 0;
     position: absolute;
     z-index: -1;
  }
  
  .btn{
    margin-top: 10px;
  }
  
  .label-foto{
    margin-top: 15px;
    margin-left: 5px;
  color: #000;
  }
  
  .label{
    margin-left: -40px;
  }


  .footer {
    height: 90px;
    width: 100%;
    margin-top: 100px;
  background-color: #3A4142;
  }
  
  .footer p{
  margin-left: 40%;
  margin-top: 40px;
  font-weight: 15px;
  color: #fff;
  position: absolute;
  }

 