* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }



.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  margin-top: -9%;
  background: #fff;
  opacity: 0.9;
  box-shadow: 0px 3px 15px grey; }

.contenedor-formulario {
  width: 100%;
  color: black;
  padding: 50px;
  margin-top: 10%; }
  .contenedor-formulario .formulario {
    width: 100%;
    margin: auto; }
    .contenedor-formulario .formulario .input-group {
      position: relative;
      margin-bottom: 32px; }
      .contenedor-formulario .formulario .input-group input[type="text"],
      .contenedor-formulario .formulario .input-group input[type="number"],
      .contenedor-formulario .formulario .input-group input[type="email"],
      .contenedor-formulario .formulario .input-group input[type="password"] {
        font-family: "Roboto";
        font-size: 16px;
        color: #000;/*cor das letras dentro da label*/
        width: 100%;
        outline: none;
        padding: 15px;
        background: none;
        border: none;
        border-bottom: 2px solid #a6a6a6; /*cor antes de clicar na label*/}
        .contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
        .contenedor-formulario .formulario .input-group input[type="email"]:focus,
        .contenedor-formulario .formulario .input-group input[type="email"]:active,
        .contenedor-formulario .formulario .input-group input[type="number"]:focus,
        .contenedor-formulario .formulario .input-group input[type="password"]:focus,
        .contenedor-formulario .formulario .input-group input[type="password"]:active {
          outline: none;
          border-bottom: 2px solid #000;/*cor após clicar na label*/ }
        .contenedor-formulario .formulario .input-group input[type="text"].error,
        .contenedor-formulario .formulario .input-group input[type="number"].error,
        .contenedor-formulario .formulario .input-group input[type="email"].error,
        .contenedor-formulario .formulario .input-group input[type="password"].error {
          border-bottom: 2px solid #D32F2F; /*cor do erro na linha*/}
          .contenedor-formulario .formulario .input-group input[type="text"].error + label,
          .contenedor-formulario .formulario .input-group input[type="number"].error + label,
          .contenedor-formulario .formulario .input-group input[type="email"].error + label,
          .contenedor-formulario .formulario .input-group input[type="password"].error + label {
            color: #D32F2F; /*cor do erro na letra*/}
      .contenedor-formulario .formulario .input-group label {
        color: #000; }
        .contenedor-formulario .formulario .input-group label.label {
          -webkit-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 15px;
          font-size: 16px;
          line-height: 16px;
          position: absolute;
          top: 16px;
          left: 0; }

          .contenedor-formulario .formulario .input-group label.label.active {
            top: -12px;
            font-size: 16px;
            line-height: 12px;
            color: #000; }

      .contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
        display: inline-block;
        cursor: pointer;
        color: #303F9F;
        position: relative;
        padding: 5px 15px 5px 51px;
        font-size: 1em;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
          background: #bbdefb; }
        .contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
          content: "";
          display: inline-block;
          width: 17px;
          height: 17px;
          position: absolute;
          left: 15px;
          border-radius: 50%;
          background: none;
          border: 2px solid #303F9F; }
      .contenedor-formulario .formulario .input-group.error label {
        color: red; }
        .contenedor-formulario .formulario .input-group.error label:hover {
          background: rgba(211, 47, 47, 0.2); }
        .contenedor-formulario .formulario .input-group.error label:before {
          border: 2px solid #D32F2F; }
      .contenedor-formulario .formulario .input-group.radio input[type="radio"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
          padding: 5px 15px;
          background: #303F9F;
          border-radius: 2px;
          color: #fff; }
      .contenedor-formulario .formulario .input-group.checkbox label:before {
        border-radius: 3px; }
      .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
        display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
          display: none; }
        .contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
          background: #303F9F;
          color: #f2f2f2;
          padding: 5px 15px; }
    .contenedor-formulario .formulario input[type="submit"] {
      background: #28a745;/*cor do botão*/
      border-radius: 12px;
      border: 2px solid #f2f2f2;
      color: #fff;
      cursor: pointer;
      margin-top: 7%;
      display: inline-block;
      font-family: "Roboto";
      font-size: 16px;
      padding: 15px;
      width: 100%;
      -webkit-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .contenedor-formulario .formulario input[type="submit"]:hover {
        background: #009900;/*efeito ao passar em cima do botão*/ }

  .form-control{
  width: 80%;
  max-width: 500px;
  margin: auto;
  margin-top: 2%;
-webkit-border-radius: 8px; /*Para Safari e Chrome */
border-radius: 8px; /* Para Opera 10.5+*/
background:#fff;
padding: 20px;
border: 1px solid #303F9F;  }

h2{
  margin-left: 43%;
  margin-top: 30px;
  position: absolute;
  color: #595959;            
}




.topo {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
    overflow: hidden;
  background: -webkit-linear-gradient(left,  #3A4142 , #595F66);
  
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 100px;
    font-size: 18px;
    margin-top: 10px;
}

li a:hover {
    
    color: #28a745;
}

.img-logo img{
  height: 85px;
  width: 100px;
  margin-top: -80px;
  position: absolute;
  margin-left: 10px;
}

.footer {
    height: 90px;
    width: 100%;
    margin-top: 100px;
 background-color: #3A4142;
}
.footer h3{
  margin-left: 40%;
  margin-top: 40px;
  color: #fff;
  position: absolute;
}


.label-foto{
  margin-top: 20px;
  margin-left: -10px;
  color: #000;
  
}

#upload-photo { /*esconde o botao arquivo*/
   opacity: 0;
   position: absolute;
   z-index: -1;
}



